
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.hero{
    width: 100%;
    min-height: 100vh;
   /* background:  url('../../assets/Physician-home.png'); */
   /* background-color: red;  */
   /* background: linear-gradient(136deg,#98c6ad 1.59%,#e8f3ed 35.69%,#ecd282 73.81%); */
   /* background-size: cover; */
    /* background-position: right; */
    color:#0c3b98;
    background: var(--Primary-01, #D0F2EE);
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  
   

}

.hero_left{
display: block;
}


.hero-text{
    text-align: left;
    max-width: 600px;
    top: 30px;
    position: relative;
    
  
}

.decore{
  position: absolute;
  top: 27%;
  left: 17%;
 width: 35%;
}
.hero-text h1{
  font-size: 38px;
  font-weight: 800px;
  line-height: 46.64px;
  color: black;
text-align: left;
font-family: Nunito;
padding-left: 15px;
}
.hero-text span{
  color: var(--Secondary-08, #0C3B98);
  font-family: Nunito;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hero-text p {
  max-width: 600px;
word-wrap: break-word;
font-size: 20px;
line-height: 1.4;
color: var(--White-10, #525252);
text-align: justify;
font-family: Nunito;

}

  .hero-right-image{
    width: 100%;
    height: 93%;
  }
  .hero_left{
    display: block;
    justify-content: space-between;
    position: relative;
  }
  .hero_left button{
    margin-left: 5%;
       margin-top: 0px;
       margin-bottom: 10px;
  }

  .hero_icon_class{
    display: inline-flex;
    align-items: center;
    
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    width: 50%;
    left: 5px;
    
  }
.icon_group{
    display: block;
    justify-content: space-between;
    color: #12A08F;
    font-size: 10px;
}
  .hero_icon_class img{
    width:70px;
    padding-left: 20px;
  }



  /* media query */

  /* Media query for desktops (> 1440px) */
  @media screen and  (min-width: 1440px){
    
    .hero-text{
      text-align: center;
      top: 80px;
      position: relative;  
    
  }
    .hero-text h1{
      color: var(--txt, #1A1A1A);
     font-family: Nunito;
     font-size: 48px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     text-align: center;
     padding-bottom: 30px;
    
   
     
     }
     span{
       color: var(--Secondary-08, #0C3B98);
       font-family: Nunito;
       font-size: 52px;
       font-style: normal;
       font-weight: 800;
       line-height: normal;
     }
     .hero-text p {   
     color: var(--White-10, #525252);
     text-align: justify;
     font-family: Nunito;
     font-size: 28px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     margin-top: -22px;
       }
    .decore{
      position: absolute;
      top: 22.5%;
      left: 60%;
     width: 50%;
  }
  .hero_icon_class{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 50%;
    left: 5px;
    position: absolute;
 bottom: 100px;
  }
  .hero_left button{  
    margin-top: -20px;
    height: 50px;
    font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 500;

  }
  }
  /* Media query for tablets (1024px - 1440px) */

  @media (min-width: 1023px) and (max-width: 1439px){
    .hero{
      margin-top: -20px;
    
    }
    .hero-right-image{
      
      height: 90%;
      background: url('../../assets/physician_bg.svg');
      background-size: cover;
      background-repeat: no-repeat;
    
      
    }
    .hero-text h1{
      margin-top: 10px;
   color: var(--txt, #1A1A1A);
font-family: Nunito;
font-size: 42px;
font-style: normal;
font-weight: 800;
line-height: normal;

  

    }
    .hero-text p{
  
    color: var(--White-10, #525252);
text-align: justify;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

margin-top: -10px;
    
    }
       em{
      background: var(--Linear, linear-gradient(90deg, #16CDAC 0.21%, #0C3B98 99.79%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Courier New', Courier, monospace;
    }
    
    .decore{
      /* top: 40%;
      width: 55%;
      left: 2%; */
      display: none;
    }
    
    .hero_icon_class{
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0px;
      width: 70%;
      left: 5px;
      position: absolute;
   bottom: 20px;
    }
    .hero_icon_class img{
      width: 70%;
      padding-left: 20px;
    }
    .hero_left button{  
      margin-top: -20px;
      height: 40px;
      font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  
    }
    
  }

  @media (min-width: 765px) and (max-width: 1022px){

    .hero{
      margin-top: -20px;
      width: 150%;
    }
    .hero-right-image{
      margin-top: 20%;
      height: 60%;
      
    }
    .hero-text h1{
      margin-top: 2px;
   color: var(--txt, #1A1A1A);
font-family: Nunito;
font-size: 42px;
font-style: normal;
font-weight: 800;
line-height: normal;


  

    }
    .hero-text p{
  
    color: var(--White-10, #525252);
text-align: justify;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 20px;

    
    }
    .hero-text span{
      color: var(--Secondary-08, #0C3B98);
      font-family: Nunito;
      font-size: 42px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    em{
      background: var(--Linear, linear-gradient(90deg, #16CDAC 0.21%, #0C3B98 99.79%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Courier New', Courier, monospace;
    }
    .decore{
     display: none;
    }
    
    .hero_icon_class{
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0px;
      width: 70%;
      left: 5px;
      position: absolute;
   bottom: 70px;
    }
    .hero_icon_class img{
      width: 100px;
      padding-left: 20px;
    }
    
  }

   
 @media  (min-width: 690px)and  (max-width: 764px){
  .hero{
    margin-top: -20px;
     width: 150%;
   
  }
  .hero-right-image{
    margin-top: 30%;
    height: 60%;
    
  }
  .hero-text h1{
    margin-top: 2px;
 color: var(--txt, #1A1A1A);
font-family: Nunito;
font-size: 42px;
font-style: normal;
font-weight: 800;
line-height: normal;

  }

  .hero-text p{

  color: var(--White-10, #525252);
text-align: justify;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

  
  }
  .hero-text span{
    color: var(--Secondary-08, #0C3B98);
    font-family: Nunito;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .decore{
    top: 20%;
    width: 78%;
    left: 100px;
  }
  
  .hero_icon_class{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 70%;
    left: 5px;
    position: absolute;
 bottom: 20px;
  }
  .hero_icon_class img{
    width: 100px;
    padding-left: 20px;
  }
}

  
 @media  (min-width: 431px)and  (max-width: 490px){
    .hero{
      margin-top: -20px;
       width: 150%;
     
    }
    .hero-right-image{
      margin-top: 30%;
      height: 60%;
      
    }
    .hero-text h1{
      margin-top: 2px;
   color: var(--txt, #1A1A1A);
font-family: Nunito;
font-size: 42px;
font-style: normal;
font-weight: 800;
line-height: normal;

    }

    .hero-text p{
  
    color: var(--White-10, #525252);
text-align: justify;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

    
    }
    .hero-text span{
      color: var(--Secondary-08, #0C3B98);
      font-family: Nunito;
      font-size: 42px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    .decore{
      top: 20%;
      width: 78%;
      left: 100px;
    }
    
    .hero_icon_class{
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0px;
      width: 70%;
      left: 5px;
      position: absolute;
   bottom: 20px;
    }
    .hero_icon_class img{
      width: 100px;
      padding-left: 20px;
    }
  }

  @media  (min-width: 496px)and  (max-width: 690px){
    .hero_left{

    }
    .hero-text h1{
      margin-top: 2px;
   color: var(--txt, #1A1A1A);
font-family: Nunito;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;

    }
  .hero-text p{

  color: var(--White-10, #525252);
text-align: justify;
font-family: Nunito;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;

  
  }
  .hero-text span{
    color: var(--Secondary-08, #0C3B98);
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .decore{
   display: none;
  }
  em{
    background: var(--Linear, linear-gradient(90deg, #16CDAC 0.21%, #0C3B98 99.79%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .hero_icon_class{
   
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 70%;
    left: 5px;
    position: absolute;
 bottom: 20px;
  }
  .hero_icon_class img{
    width: 70px;
    padding-left: 20px;
  
  }
}
  @media  (min-width: 377px)and  (max-width: 430px){
 
    .hero{
      margin-top: -50px;
       width: 200%;
      display: block;
       
    }
   
  .hero_left{
  display: block;
  justify-content: center;
 text-align: center;
 align-items: center;

 margin: 50px;
 padding-left: 40px;

  }
  .hero-text{
      text-align: center;
      top: 5px;
      position: relative;  
     
  }
  
  .decore{
      position: absolute;
      top: 24%;
      left: 30%;
     width: 40%;
  }
  .hero-text h1{
    color: var(--txt, #1A1A1A);
   font-family: Nunito;
   font-size: 42px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-align: center;
 
   
   }
   span{
     color: var(--Secondary-08, #0C3B98);
     font-family: Nunito;
     font-size: 52px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
   }
   .hero-text p {   
   color: var(--White-10, #525252);
   text-align: justify;
   font-family: Nunito;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-top: -22px;
     }
     .hero-right-image{
       width: 70%;
       height: 93%;
        /* Set background image or change source for smaller screens */
      content: url('../../assets/hero_telehealth.svg');
      position: relative;
      margin-top: -60px;
      margin-left: 10%;
      left: 20%;
     }
     .hero_left{
       display: block;
       justify-content: space-between;
       position: relative;
     }
     .hero_left button{
      
       margin-top: 0px;
       margin-bottom: 30px;
       height: 50px;
       font-family: Nunito;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
     }
   
     .hero_icon_class{
       display: inline-flex;
       align-items: center;
       justify-content: space-between;
       position: absolute;
       bottom: 0px;
       width: 50%;
       left: 5px;
       position: absolute;
    bottom: -100px;
     }
   .icon_group{
       display: block;
       justify-content: space-between;
       color: #12A08F;
       font-size: 10px;
      
       
   }
     .hero_icon_class img{
       width: 70px;
       padding-left: 20px;
     }
     
  }

  @media screen and  (max-width: 376px){
    
 
      .hero{
        margin-top: -50px;
         width: 200%;
        display: block;
         
      }
     
    .hero_left{
    display: block;
    justify-content: center;
   text-align: center;
   align-items: center;
  
   margin: 50px;
   padding-left: 40px;
  
    }
    .hero-text{
        text-align: center;
        top: 5px;
        position: relative;  
       
    }
    
    .decore{
        position: absolute;
        top: 24%;
        left: 30%;
       width: 40%;
    }
    .hero-text h1{
      color: var(--txt, #1A1A1A);
     font-family: Nunito;
     font-size: 42px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     text-align: center;
   
     
     }
     span{
       color: var(--Secondary-08, #0C3B98);
       font-family: Nunito;
       font-size: 52px;
       font-style: normal;
       font-weight: 800;
       line-height: normal;
     }
     .hero-text p {   
     color: var(--White-10, #525252);
     text-align: justify;
     font-family: Nunito;
     font-size: 24px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     margin-top: -22px;
       }
       .hero-right-image{
         width: 70%;
         height: 93%;
          /* Set background image or change source for smaller screens */
        content: url('../../assets/hero_telehealth.svg');
        position: relative;
        margin-top: -60px;
        margin-left: 10%;
        left: 20%;
       }
       .hero_left{
         display: block;
         justify-content: space-between;
         position: relative;
       }
       .hero_left button{
        
         margin-top: 0px;
         margin-bottom: 30px;
         height: 50px;
         font-family: Nunito;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
       }
     
       .hero_icon_class{
         display: inline-flex;
         align-items: center;
         justify-content: space-between;
         position: absolute;
         bottom: 0px;
         width: 50%;
         left: 5px;
         position: absolute;
      bottom: -100px;
       }
     .icon_group{
         display: block;
         justify-content: space-between;
         color: #12A08F;
         font-size: 10px;
        
         
     }
       .hero_icon_class img{
         width: 70px;
         padding-left: 20px;
       }
       
    }
  


  

  
 