@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.Services-hero{
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to right, #33B2C2 1.04%,
     rgba(51, 178, 194, 0.60) 39.97%,
     rgba(51, 178, 194, 0.10) 82.6%),
     url('../../assets/serviceshomepicture.png');
  
    

}
.picture_page{
    position: relative;
   width: 100%;
   height: 100vh;
   
    
}
.picture{
    width: 100%;
}
.picture_page h1{
position: absolute;
color: var(--Accent-08, #052146);
font-family: Nunito;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
font-family: 'Courier New', Courier, monospace;
top: 50%;
}