@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.navbar {
    width: 100%; 
    background: #b1eae3;
    color: #0c3b98;
    height: 70px;
    /* padding: 4px, 0; */
    /*4px for top and bottom, sides 0 */
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 10; */
    /*so it will overlap the elements on the webpage when you scroll the webpage */
  
  padding: 0px 30px;
  
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 16px;
    cursor: pointer;
    color: var(--Accent-03, #8398B4);
    font-family: Nunito;
    
}

.logo {
    width: 180px;
}

.underline {
    width: 50px;
    display: flex;
    margin: auto;
}

/* nav ul li {
    
    display: inline-block;
    list-style: none;  
    display: flex;
gap: 5px;
cursor: pointer;
}  */

/* .search-icon {
    width: 15px;
    margin-left: 1em;
    margin-top: 0.3em;

}

.search-div {
    border-radius: 25px;
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;

} */

/* .menu-icon {
    display: none;
} */
.nav_btn{
    background: #16c0ac;
    color: #0c3b98;
    padding: 4px 15px;
    font-size: 16px;
    border-radius:28px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: 0.5s;
    box-shadow: 0px 4.708px 7.063px 0px rgba(1, 115, 153, 0.20);
    text-align: center;
  }
  .nav_btn:hover{
    color: #fff;
    transform: scale(1.05);
    
  }
  .bluebtn{
    border-radius: 28px;
border: 2px solid var(--Secondary-08, #0C3B98);
box-shadow: 0px 4.708px 7.063px 0px rgba(1, 115, 153, 0.20);
padding: 4px 15px;
  font-size: 16px;
  border-radius:30px;
  cursor: pointer;
 
  outline: 0;
  transition: 0.5s;
  color: var(--Secondary-08, #0C3B98);
text-align: center;


font-style: normal;
font-weight: 600;
line-height: normal;
  }

.nav-mob-open {
    width: 30px;
    display: none;
}

.nav-mob-close {
   display: none;
   background-color: #fff;
}

/* media query */

@media (min-width: 1024px) and (max-width: 1441px){
    
    .navbar{
        padding-bottom: 30px;
        width: 100%;
       
      
    }
    .logo{
        padding-top: 5px;
        margin-top: 10px;
    }
    .nav-menu{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 18px;
        font-size: 20px;
        cursor: pointer;
        color: var(--Accent-03, #8398B4);
       
        margin-top: 10px;
        
    }
}
@media (min-width: 766px) and (max-width: 1023px){
   
    .navbar{
        margin: 20px 3px;
        padding-bottom: 20px;
     
        width: 150%;
    }
    .nav_btn{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 80px;
        cursor: pointer;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 250px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
         cursor: pointer;
    }
    .nav-menu :hover{
        color: red
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}


/* @media screen and (max-width: 380px){
    .navbar{
    
        padding-bottom: 20px;
      
        width: 100%;
    }
    .logo{
        padding-top: 5px;
    }
} */
@media (min-width: 431px)and  (max-width: 765px){
    .navbar{
        margin: 5px 3px;
        width:150%;
    }
   
    .nav-mob-close {
       
        background: var(--Secondary-08, aliceblue);
     }
     .nav-mob-open{
        display: block;
        position: fixed;
        right:8%;
        cursor: pointer;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 220px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background: var(--Grey-01, #CFD1D4);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
         cursor: pointer;
    }
    .nav-menu :hover{
        color: red
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}
@media screen and (max-width: 430px){
    .navbar{
        margin: 20px 3px;
        width: 200%;
    }
    .nav_btn{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 100px;
        cursor: pointer;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 250px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
         cursor: pointer;
    }
    .nav-menu :hover{
        color: red
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}












/* old media query */
/* 
@media (max-width: 1000px) {
    .logo {
        width: 140px;

    }

    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 840px) {
    nav {
        padding: 15px 0;

    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px 40px;
    }

    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .hide-mobile-menu {
        right: -200px;
    }
} */