.footer{
    background: #d0f2ee;
   font-size: 16px;
   color: #0c3b98;
   width: 100%;
}

.footer-div-top{
    display: flex;
    justify-content: space-around;
   padding-top: 30px;
   margin-top: -5px;
    /* border-top: 1px solid #797979; */
    /* background-color: red; */
   

}
.footer-div-text{
   
    margin-top: -10px;
    padding-bottom: 20px;
}
.footer-div-text span{
    font-size: 10px;
font-weight: 400;
}
.footer-div-top p{
    color: var(--Secondary-04, #6190ED);
/* H3: Regular */
font-family: Nunito;
font-size: 12px;
font-style: normal;
font-weight: 400;
padding-bottom: 20px;

}
.logo{
    width: 150px;
}
.footer-list{
    display: block;
    list-style: none;
}
.footer-div-top p{
    font-weight: 900;
    color: #172048;
font-family: Nunito;
font-size: 28px;
font-style: normal;
font-weight: 800;

}
.footer-list ul{
    list-style: none;
    color: #172048;
}
.footer-div-bottom{
 margin: 10px ;
    
    border-top: 1px solid #797979;
    color: #172048;
    padding: 15px 0; 
    font-size: 12px;
   
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-div-bottom ul li{
    list-style: none;
    display: inline-block;
   align-items: center;
   
 
   
    
}
.footer-div-top ul li:hover{
    color: #fff;
}
.footer-list ul li img {
    width: 25px;
    margin-right: 10px;
}
.Home_image{
    width: 100px;
    height: 200px;
    border: 2px solid #009688;
    border-radius: 10px;
}
.download_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download_icons img{
    width: 40px;
}


@media (max-width: 430px){
    .footer{
        width: 200%;
    }
    
}

@media (min-width: 767px) and (max-width: 1023px){
    .footer{
        width: 150%;
    }
    
}
@media (min-width: 431px) and (max-width: 767px){
    .footer{
        width: 150%;
    }
}