.testimonial_div{
    margin: 10px auto;
  background-color: #f2f5f9;
  position: relative;
  padding: 0 80px;
}
.testimonial_heading h2{
    display: block;
    justify-content: space-between;
    text-align: center;
}
.testimonial_heading_second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;

}

.back-arrow, .next-arrow{
position: absolute;
left: 0;
transform: translateY(-50%);
width: 50px;
top: 70%;
bottom: 30%;
padding: 15px;
cursor:pointer;
}
.next-arrow{
    left: auto;
    right: 0;
    width: 50px;
}
.slider{
    overflow: hidden;

}
.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}

.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 40px;
    border-radius: 10px;
    color:#676767 ;
    line-height: 1.4 ;
}
.slide:hover{
    transform: scale(1.05);
}
.testimonial_picture{
    width: 85px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #212EA0;
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3{
   color: #212EA0; 
}
.five_star_icon{
    width: 60px;
}
